<!DOCTYPE html>
<html ng-app>
<head>
    <title>AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <script src="https://apis.google.com/js/client.js?onload=onClientLoad"></script>
    <style>

        * {
            box-sizing: border-box;
        }
        body {
            padding: 20px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .jumbotron {
            min-height: 5px;
            padding: 20px;
        }
        h1 {
            font-size: 50px;
            word-break: break-all;
            text-align: center;
        }
        .red {
            border-color: red;
            color: red;
        }
        .green {
            border-color: green;
            color: green;
        }
        .ng-cloak, [ng-cloak], [ng\:cloak] {
                display: none !important;
            }
    </style>
</head>
    
<body ng-cloak>
    <div class="container-fluid">
        <div class="page-header">
            <h1>Session 4: SINGLE PAGE APPLICATIONS WITH ANGULARJS</h1>
        </div>
        
        <h2>EXPRESSIONS AND DATA-BINDING: Basics of AngularJS (1 OF 14)</h2>
        <h3>AngularJS extends HTML with ng-directives.</h3>
        <ul>
            <li>The `ng-app` directive defines an AngularJS application.</li>
            <li>The `ng-model` directive binds the value of HTML controls (input, select, textarea) to application data.</li>
            <li>The `ng-bind` directive binds application data to the HTML view.</li>
            <li>The `ng-init` directive initializes AngularJS application variables.</li>
            <li>AngularJS expressions are written inside double braces: <code>{{expression} }</code>(leave no space bw brackets)</li>
            <li>AngularJS will "output" data exactly where the expression is written.</li>
        </ul>

        <h3>Definitions</h3>
        <ol>
                <li>AngularJS uses <b>Expressions</b> to bind data to HTML and can be written two ways: `{{ expression } }` or inside a directive `ng-bind="expresion"`. 
                    These expressions are like JS expressions that can contain literals, operators and variables.</li>
                <li>An AngularJS module defines an application. The module is a container for the different parts of an application. 
                    The module is a container for the application controllers. A module is created with the function angular.module. 
                    Controllers always belong to a module.</li>
                <li>Angular JS <em>directives</em> are extended HTML attributes with the prefix `ng-`.</li>
                <li>The **ng-model directive** binds the value of HTML controls (input, select, textarea) to application data.</li>
                <li>Data binding in AngularJS is the synchronization between the model and the view. 
                    This <b>Two-way Binding</b> means that when data in the model changes, the view reflects the change, and when 
                    data in the view changes, the model is updated as well. This happens immediately and automatically, which 
                    makes sure that the model and the view is updated at all times.</li>
            </ol>

        <h2>ANGULARJS - BUILT-IN DIRECTIVES (2 OF 14)</h2>
            <div>
            <p>Directives teach HTML new tricks</p>
            <ul>
                <li>ng-app</li>
                <li>ng-init used to initialize a value</li>
                <li>ng-click is a function used to add an AngularJS event listener to the HTML. 
                    ng-click is executed when the element is being clicked. 
                    Ex. below creates two buttons that, when clicked, the number value increases by 1 (+1 button) 
                    or decreases by 1 (-1 button).</li>
                <li><em>ng-cloak</em> directive prevents the document from showing unfinished AngularJS code while AngularJS is being loaded. 
                    AngularJS applications can make HTML documents flicker when the application is being loaded, showing the AngularJS 
                    code for a second, before all code are executed. Using the ng-cloak directive prevents this. `ng-cloak` goes in a 
                    couple of places in the HTML file. And the script linking to AngularJS should be at the bottom of the body element, just
                    above the closing tag for body.</li>
                <li><b>ng-non-bindable</b> tells AngularJS to ignore the code within the div. 
                    <a href=https://stackoverflow.com/a/28440570></a></li>
            </ul>
        </div>

        <div class="jumbotron" ng-init="number = 0">
            <button ng-click="number = number + 1">+1</button>
            <button ng-click="number = number - 1">-1</button>
            <h3>{{ number }}</h3>
        </div>

        <div>
        <p>ng-model directive binds the value of HTML controls (input, select, textarea) to application data. 
        In the ex below, the model `isChecked` is used with `ng-if` to allow us to toggle a checkbox on and off which results 
        in the paragraph being hidden or shown. For the ex below, `ng-if` can be replaced with `ng-show` for the same 
        functionality. But there is a difference between the two. `ng-if` removes the entire paragraph below, including any 
        CSS we may have applied. When it shows the paragraph again, it has no CSS. `ng-show` maintains the CSS when it 
        toggles back and forth between show and hide.</p> 
        </div>

        <div class="jumbotron">
            Show me the hidden paragraph  <input type="checkbox" ng-model="isChecked">
            <p ng-if="isChecked">Hidden paragraph</p>
        </div>

        <p>`ng-hide` directive hides the HTML element if the expression evaluates to true. 
        `ng-hide` is also a predefined CSS class in AngularJS, and sets the element's display to none.
        `ng-show` directive shows the specified HTML element if the expression evaluates to true, otherwise the HTML element 
        is hidden.</p>
    
        <div class="jumbotron" ng-init="number = 19">
            <input type="text" ng-model="guess">
            <p ng-hide="guess != number">Correct</p> <!-- default view: shows empty input box. Only shows "Correct" when 19 is input. -->
            <p ng-show="guess != number">Incorrect</p> <!-- default view: shows "Incorrect" -->
        </div>

        <p>`ng-class` directive dynamically binds one or more CSS classes to an HTML element. 
        The value of the ng-class directive can be a string, an object, or an array. 
        If it is a string, it should contain one or more, space-separated class names. 
        As an object, it should contain key-value pairs, 
        where key == class name of the class you want to add, and value == a boolean value. 
        The class will only be added if the value is set to true. As an array, it can be a combination of both. 
        Each array element can be either a string, or an object. 
        First example, guessing the wrong number assigns the `.red` CSS class, correct number assigns the `.green` CSS class.</p>

        <div class="jumbotron" ng-init="number = 19">
            <input type="text" ng-model="guess" ng-class="{red: guess != number, green: guess == number}">
        </div>

        <p>`ng-repeat` allows you to reiterate through a collection of items (a set of HTML), a given number of times. 
        The set of HTML will be repeated once per item in a collection. The collection must be an array or an object. 
        Note: Each instance of the repetition is given its own scope, which consist of the current item. 
        If you have an collection of objects, the ng-repeat directive is perfect for making a HTML table, 
        displaying one table row for each object, and one table data for each object property. 
        The example below creates a bullet list of the elements in the `numbers` array. 
        You can also add `ng-class` and the built-in `$even` and `$odd` to make the even numbers red and the odd numbers green. 
        The second example presents the case where two array values are the same. Without `track by $index`, 
        AngularJS would not output anything becuase by default it only tracks unique values. 
        The 3rd example shows how `ng-repeat` works with objects.</p>

        <div class="jumbotron" ng-init="numbers = [0,1,2,3,4,5,6,7]">
            <p>Example 1</p>
            <ul>
                <li ng-repeat="number in numbers" ng-class="{red: $even, green: $odd}">{{ number }}</li>
            </ul>
        </div>
        
       <h3>Using `ng-repeat` with `track by $index`</h3>
        <div  class="jumbotron" ng-init="names = ['Smith', 'Smith']">
            <p>Example 2</p>
            <ul>
                <li ng-repeat="name in names track by $index">{{ name }}</li>
            </ul>
        </div>

        <h3>Using `ng-repeat` with objects</h3> 
        <div class="jumbotron" ng-init="names = [{surname: 'Smith', firstname: 'Joe'}, {surname: 'Smith', firstname: 'Sue'}]">
            <p>Example 3 (Don't use track by $index because it will show the brackets and everything inside the brackets)</p>
            <ul>
                <li ng-repeat="name in names">{{ name.surname }}, {{ name.firstname }}</li>
            </ul>
        </div>

        
        <p>`ng-options` directive fills a <b>select</b> element with options. 
        The ng-options directive uses an array to fill the dropdown list. 
        In many cases it would be easier to use the ng-repeat directive, but you have more flexibility 
        when using the ng-options directive. 
        `ng-options` is very useful for building dynamic forms for `ng-options` can take an array or an object 
        and iterate through those, exposing options we can use. The example below takes data from the object to 
        create a paragraph based on the name chosen from a dropdown menu. 
        </p>
        
        <div class="jumbotron" ng-init="rebels = [
        {name: 'Luke Skywalker', profession: 'Jedi', weapon: 'lightsaber', age: 19}, 
        {name: 'Ben Kenobi', profession: 'Jedi', weapon: 'lightsaber', age: 56}, 
        {name: 'Han Solo', profession: 'smuggler', weapon: 'laser blaster', age: 32}, 
        {name: 'Chewbacca', profession: 'pilot', weapon: 'bowcaster', age: 200},
        ];">
            <p>Choose from the dropdown menu</p>
            <select name="" id="" ng-model="rebel" ng-options="rebel.name for rebel in rebels"></select>
            <p><br>You have selected: {{ rebel.name }} ({{ rebel.profession }})</p>
        </div>

        <p>We can also group objects in the dropdown menu. In this example, we grouped the names by their *weapons*.</p>
        <div class="jumbotron" ng-init="rebels = [
        {name: 'Luke Skywalker', profession: 'Jedi', weapon: 'lightsaber', age: 19}, 
        {name: 'Ben Kenobi', profession: 'Jedi', weapon: 'lightsaber', age: 56}, 
        {name: 'Han Solo', profession: 'smuggler', weapon: 'laser blaster', age: 32}, 
        {name: 'Chewbacca', profession: 'pilot', weapon: 'bowcaster', age: 200},
        ];">
            <p>Choose from the dropdown menu</p>
            <select name="" id="" ng-model="rebel" ng-options="rebel.name group by rebel.weapon for rebel in rebels"></select>
            <p><br>You have selected: {{ rebel.name }} ({{ rebel.profession }})</p>
        </div>
        
        <h2>ANGULARJS - BUILT-IN FILTERS (3 OF 14)</h2>        
        <p>AngularJS provides filters to format / transform data. 
        Filters can be added to expressions by using the pipe character `|`, followed by a filter name.</p>
        <ul>
            <li>`currency` Format a number to a currency format. Default symbol is dollar `$`. 
                To specify a different currency: `currency:"€"</li>
            <li>`date` Format a date to a specified format.</li>
            <li>`filter` Select a subset of items from an array.</li>
            <li>`json` Format an object to a JSON string.</li>
            <li>`limitTo` Limits an array/string, into a specified number of elements/characters.</li>
            <li>`lowercase` Format a string to lower case.</li>
            <li>`number` Format a number to a string.</li>
            <li>`orderBy` Orders an array by an expression. If the expression is negative, e.g. `orderBy: '-age'`, the sort will be descending.</li>
            <li>`uppercase` Format a string to upper case.</li>
        </ul>
        
        <h4>Examples (inspect each element to see the corresponding code)</h4>
        <div class="jumbotron" ng-init="amount = 1250.5">
                <p> {{ amount | currency: "€" }}</p> <!-- outputs €1,250.50 -->
        </div>
        
        <div class="jumbotron" ng-init="amount = 1250.505667">
            <p> {{ amount | number: 4 }}</p> <!-- outputs 1,250.5057, or 4 decimal places -->
        </div>
        
        <div class="jumbotron" ng-init="amount = 1250.505667">
            <p> {{ -amount | number: 4 }}</p> <!-- `-` sign before "number" turns the 1250.xx into -1,250.xx` -->
        </div>
        
        <div class="jumbotron" ng-init="string = 'star wars'">
            <p> {{ string | uppercase }}</p> <!-- outputs STAR WARS -->
        </div>
        
        <div class="jumbotron" ng-init="myDate = 1399648945000">
            <p> {{ myDate | date }}</p> <!-- outputs May 9, 2014 -->
        </div>
        
        <div class="jumbotron" ng-init="myDate = 1399648945000">
            <p> {{ myDate | date: 'medium' }}</p> <!-- outputs May 9, 2014 5:22:25 PM-->
        </div>
        
        <div class="jumbotron" ng-init="myDate = 1399648945000">
            <p> {{ myDate | date: 'yyyy - MMMM - d H:m' }}</p> <!-- outputs 2014 - May - 9 17:22-->
        </div>
        
        <div class="jumbotron" ng-init="myArray = [0,1,2,3,4,5]">
            <p> {{ myArray | limitTo: 4 }}</p> <!-- limits array output to 4 items: [0,1,2,3]-->
        </div>
        
        <div class="jumbotron" ng-init="myArray = [0,1,2,3,4,5]">
            <p> {{ myArray | limitTo: -2 }}</p> <!-- limits array output to LAST 2 items: [4,5]-->
        </div>
        
        <div class="jumbotron" ng-init="rebels = [
        {name: 'Luke Skywalker', profession: 'Jedi', weapon: 'lightsaber', age: 19}, {name: 'Ben Kenobi', profession: 'Jedi', weapon: 'lightsaber', age: 56}, {name: 'Han Solo', profession: 'smuggler', weapon: 'laser blaster', age: 32}, {name: 'Chewbacca', profession: 'pilot', weapon: 'bowcaster', age: 200},
        ];">
            <ul>
                <li ng-repeat="rebel in rebels">{{ rebel.name}} (age: {{ rebel.age}}) is a {{ rebel.profession }} fighting with a {{ rebel.weapon }}</li>
            </ul>
            <!-- outputs 4 bullet points, the 1st one being: Luke Skywalker (age 19) is a Jedi fighting with a lightsaber-->
        </div>
        
        <div class="jumbotron" ng-init="rebels = [
        {name: 'Luke Skywalker', profession: 'Jedi', weapon: 'lightsaber', age: 19}, {name: 'Ben Kenobi', profession: 'Jedi', weapon: 'lightsaber', age: 56}, {name: 'Han Solo', profession: 'smuggler', weapon: 'laser blaster', age: 32}, {name: 'Chewbacca', profession: 'pilot', weapon: 'bowcaster', age: 200},
        ];">
            <ul>
                <li ng-repeat="rebel in rebels | orderBy: 'name'">{{ rebel.name}} (age: {{ rebel.age}}) is a {{ rebel.profession }} fighting with a {{ rebel.weapon }}</li>
            </ul>
            <!-- outputs 4 bullet points, the 1st one being: Ben Kenobi (age 56) is a Jedi fighting with a lightsaber-->
        </div>
        
        <div class="jumbotron" ng-init="rebels = [
        {name: 'Luke Skywalker', profession: 'Jedi', weapon: 'lightsaber', age: 19}, {name: 'Ben Kenobi', profession: 'Jedi', weapon: 'lightsaber', age: 56}, {name: 'Han Solo', profession: 'smuggler', weapon: 'laser blaster', age: 32}, {name: 'Chewbacca', profession: 'pilot', weapon: 'bowcaster', age: 200},
        ];">
            <ul>
                <li ng-repeat="rebel in rebels | orderBy: '-age'">{{ rebel.name}} (age: {{ rebel.age}}) is a {{ rebel.profession }} fighting with a {{ rebel.weapon }}</li>
            </ul>
            <!-- outputs 4 bullet points, the 1st one being: Chewbacca (age 200) is a pilot fighting with a bowcaster-->
        </div>
        
        <!-- Sort by more than one property -->
        <div class="jumbotron" ng-init="rebels = [
        {name: 'Luke Skywalker', profession: 'Jedi', weapon: 'lightsaber', age: 19}, 
        {name: 'Ben Kenobi', profession: 'Jedi', weapon: 'lightsaber', age: 56}, 
        {name: 'Han Solo', profession: 'smuggler', weapon: 'laser blaster', age: 32}, 
        {name: 'Chewbacca', profession: 'pilot', weapon: 'bowcaster', age: 200},
        ];">
            <ul>
                <li ng-repeat="rebel in rebels | orderBy: ['profession', '-age']">{{ rebel.name}} (age: {{ rebel.age}}) is a {{ rebel.profession }} fighting with a {{ rebel.weapon }}</li>
            </ul>
            <!-- outputs 4 bullet points, the 1st one being: Ben Kenobi (age 56) is a Jedi fighting with a lightsaber-->
        </div>
        
        <!-- Filter -->
        <div class="jumbotron" ng-init="rebels = [
        {name: 'Luke Skywalker', profession: 'Jedi', weapon: 'lightsaber', age: 19}, 
        {name: 'Ben Kenobi', profession: 'Jedi', weapon: 'lightsaber', age: 56}, 
        {name: 'Han Solo', profession: 'smuggler', weapon: 'laser blaster', age: 32}, 
        {name: 'Chewbacca', profession: 'pilot', weapon: 'bowcaster', age: 200},
        ];">
            <ul>
                <li ng-repeat="rebel in rebels | filter: 'Luke'">{{ rebel.name}} (age: {{ rebel.age}}) is a {{ rebel.profession }} fighting with a {{ rebel.weapon }}</li>
            </ul>
            <!-- outputs only ONE bullet point: Luke Skywalker (age 19) is a Jedi fighting with a lightsaber-->
        </div>
        
        <!-- Filter using a search box-->
        <div class="jumbotron" ng-init="rebels = [
        {name: 'Luke Skywalker', profession: 'Jedi', weapon: 'lightsaber', age: 19}, 
        {name: 'Ben Kenobi', profession: 'Jedi', weapon: 'lightsaber', age: 56}, 
        {name: 'Han Solo', profession: 'smuggler', weapon: 'laser blaster', age: 32}, 
        {name: 'Chewbacca', profession: 'pilot', weapon: 'bowcaster', age: 200},
        ];">
        <p>Type any search term in the box to bring up matches related to any item in the array</p>
            <input type="text" ng-model="search">
            <ul>
                <li ng-repeat="rebel in rebels | filter: search">{{ rebel.name}} (age: {{ rebel.age}}) 
                    is a {{ rebel.profession }} fighting with a {{ rebel.weapon }}</li>
            </ul>
            <!-- outputs a search box and the 4 bullet points. Typing any search term in the box brings up only the searched item-->
        </div>
        
        <!-- Filter using a search box, but limiting the search to one property-->
        <div class="jumbotron" ng-init="rebels = [
        {name: 'Luke Skywalker', profession: 'Jedi', weapon: 'lightsaber', age: 19}, 
        {name: 'Ben Kenobi', profession: 'Jedi', weapon: 'lightsaber', age: 56}, 
        {name: 'Han Solo', profession: 'smuggler', weapon: 'laser blaster', age: 32}, 
        {name: 'Chewbacca', profession: 'pilot', weapon: 'bowcaster', age: 200},
        ];">
        <p>Type any search term in the box to bring up matches related to weapons only</p>
            <input type="text" ng-model="search.weapon">
            <ul>
                <li ng-repeat="rebel in rebels | filter: search">{{ rebel.name}} (age: {{ rebel.age}}) is a {{ rebel.profession }} fighting with a {{ rebel.weapon }}</li>
            </ul>

        </div>
        
        <!-- Filter using more than one search box-->
        <div class="jumbotron" ng-init="rebels = [
        {name: 'Luke Skywalker', profession: 'Jedi', weapon: 'lightsaber', age: 19}, {name: 'Ben Kenobi', profession: 'Jedi', weapon: 'lightsaber', age: 56}, {name: 'Han Solo', profession: 'smuggler', weapon: 'laser blaster', age: 32}, {name: 'Chewbacca', profession: 'pilot', weapon: 'bowcaster', age: 200},
        ];">
            Weapon Filter: <input type="text" ng-model="search.weapon">
            Free Text Search: <input type="text" ng-model="search.$">
            <ul>
                <li ng-repeat="rebel in rebels | filter: search">{{ rebel.name}} (age: {{ rebel.age}}) is a {{ rebel.profession }} fighting with a {{ rebel.weapon }}</li>
            </ul>
        </div>


        <p>From Section 4 of MEAN hotel Udemy course and https://www.w3schools.com/angular/angular_intro.asp</p>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script> 
</body>
</html>


